._banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    ._tag_links {

        a {
            @include hoverLink;
 
        }
              
         
           
          
     
    }


}