._middle {
    background-color: $color-theme-2;
    padding: 80px 0;
    border: black 1px solid;

    ._middle_banner {
        border: black 1px solid;
        display: flex;
        justify-content: center;
        
        @include card(369px);
        gap: 30px;
        
        ._sell_card {
            max-width: 369px;
            border: black 1px solid;
            background: $color-white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            :nth-child(1) {
                font-family: $font-poppins;
                font-size: 18px;
                font-weight: $font-weight-bold;
                color: $color-theme-1;
            }

        }

    }
}